extends layout

block content
   div.container
      div.row
         div.col-lg-4.col-lg-offset-1
            p#about Cool Stuff Plus is a family-owned business run by Bob Gauper of Wheatland, California. Bob has an extensive history in the refrigeration business. He has serviced a wide range of refrigeration equipment, from the seafood industry to used restaurant supplies to household appliances on a military base.
         div.col-lg-7
            img#forest(src="/images/about.jpg")
      footer
         .row
            .col-lg-12
               p Copyright &copy; Cool Stuff Plus 2015