extends layout
block content
  .container
    .row.admin
        .col-lg-4
            a(href="/upload") UPLOAD
            p Upload an item for sale
        .col-lg-4
            a(href="/delete") DELETE
            p Delete a sold item