extends layout

block content
  // TODO: add validation to form...min and maxwidth for description and title, and at least 1 photo, max 10 ?? //
  h1 Welcome to the admin page
  form#fileUpload(method="post" action="/admin" enctype="multipart/form-data")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Select a file to upload:
    input(type="file" name="myFile" accept="image/*")
    label Item Name
    input(type="text" name="title")
    label Description
    textarea(rows="4" cols="50" name="description")
    br
    button Upload
//TODO: add angular verification for title, textarea, and files, and confirmation before Submit button