extends layout
block content
    //TODO: fix margins of header and body ... my page has smaller margin than Bootstrap's demo for some reason...
    // Navigation
    div.banner
    .container(ng-controller="myController")
        div
        // Page Heading
        .row
            .col-lg-12
                h2.page-header
                    Page
                        #[span.welcome Welcome] to Cool Stuff Plus. We specialize in smaller capacity refrigeration equipment and accessories for your household and business refrigeration. Check out our selection of beverage dispensing equipment.
        // /.row
        hr.break
        .row
            .col-lg-12
                h1#forSale FOR SALE
        .row
            .col-lg-12
                ul.panel
                    li(ng-click="selected='refrig'" ng-class="{active: selected === 'refrig'}") Refrigeration
                    li(ng-click="selected='non-refrig'" ng-class="{active: selected === 'non-refrig'}") Other
        row(ng-show="selected=='refrig'" ng-repeat="item in items | filter:{isRefrig: true}")
        row(ng-show="selected=='non-refrig'"  ng-repeat="item in items | filter:{isRefrig: false}")


        // Footer
        footer
            .row
                .col-lg-12
                    p Copyright &copy; Cool Stuff Plus 2015
            // /.row
    // /.container
    // Bootstrap Core JavaScript













